body {
  background: black;
  height: 100px;
  color: white;
}

.sidebar {
  width: 150px;
  height: 100vh;
  position: absolute;
  background: #1d1d22;
}

.sidebar a,
.sidebar a.active,
.sidebar a:hover,
.sidebar .logo {
  background: #1d1d22;
  text-align: center;
  border: none;
}

.sidebar .logo {
  border-bottom: 5px solid black;
  color: white;
}

.sidebar a:not(.active) {
  color: white;
}

.sidebar a.active {
  color: #16a3e4;
}

.sidebar a .bi {
  font-size: 30px;
}

.sidebar a.active .bi {
  font-size: 100px;
}

.content-site {
  margin-left: 170px;
}

.jumbotron {
  background-color: #1d1d22;
}